{
	"trailingComma": "all",
	"printWidth": 120,
	"quoteProps": "as-needed",
	"jsxSingleQuote": true,
	"endOfLine": "auto",
	"arrowParens": "always",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/screens/(.*)$",
		"^@/ui/(.*)$",
		"^@/hooks/(.*)$",
		"^@/shared/(.*)$",
		"^@/services/(.*)$",
		"^@/assets/(.*)$",
		"^@/utils/(.*)$",
		"^@/config/(.*)$",
		"^@/store/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"^(.scss*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
