.list {
	@apply absolute z-20 w-96 max-w-full animate-fade rounded-lg bg-white;
	top: calc(100% + 15px);
	> a {
		@apply relative flex items-center px-4 py-3 hover:bg-green-300;
		transition: background-color 0.3s ease-in-out;
		> div {
			@apply ml-6;
		}

		&::after {
			@apply absolute -right-0.5 h-0 w-0.5 bg-transparent;
			content: '';
			top: 28%;
			transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
		}

		&:hover::after {
			@apply h-2/5 bg-green-200;
		}

		img {
			@apply rounded-image;
		}

		> span {
			@apply ml-3 truncate text-white;

			&:last-child {
				width: 70%;
			}
		}
	}
}
